@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.header{
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav{
  display: flex;
 justify-content: flex-end;

}

.p{
  line-height: 1.8rem;
  font-weight: 100;
  font-family: 'Public Sans', sans-serif;

} 

.container{
    margin-left: 4rem;
    margin-right: 4rem;
}
.a2 {
  color: black;
  text-decoration: none;
}

.a2:hover {
  color: #001eff;
  text-decoration: underline;
}

.a {
  padding: 1.25rem;
  color: #007BFF;
  text-decoration: none;
}

.aboutBtn{
  background-color: rgba(51, 50, 61, 1);
  height: 2.5rem;
  width: 12.5rem;
  display: flex;
  margin-bottom: 3rem;

}

.button{
  color: whitesmoke;
  background-color:rgba(32, 58, 76, 1);
  padding: 0 2.7rem 0 ; 
}

.mainPage{
  display: flex;
  justify-content: space-between;

}

.mainImg{
  width: 70%;
  height: 50rem;
}

#about{
  color:black;
}

.mainPageBtn{
  background-color: white;
  color: black;
  padding: 1.25rem 2rem ;
  margin: 1.875rem 1.875rem 1.25rem 0;
}

.mainPageText{
  margin-left: 7rem;
  margin-right: 2rem;
  margin-top: 7rem;
  padding-top: 0.625rem;
  padding-bottom: 3rem;
  padding-right: 3.125rem;
  text-align: left;
}

.section{
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.h1{
  width: 30%;
  height: 35%;
  left: 0;
  position: relative;
  font-weight: 100;
  font-size: 40px;
  line-height: -0.028125rem;
  font-family: Arial, Helvetica, sans-serif;
}

.h2{
  font-size: 35px;
}

.footerLogo {
  font-size: 1.5em;
}

#my-display{
  display: flex;
}

.footerLinks ul li {
  list-style-type: none;
  display: inline-block;
  padding: 6px;
}

.footerContainer {
  background-color: rgba(32, 58, 76, 1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  width: 100%;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.socialIcons {
  margin-left: 50em;
  display: flex;
  justify-content: flex-end;
}
.socialIcons a {
  padding: 3px;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #ebeef3;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container2 {
  max-width: 900px;
  margin: 0 2rem 0 22rem;
  font-family: 'Public Sans', sans-serif;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* background-color: #f8f9f9; */
  color: black;
}

.h12 {
  text-align: center;
  margin-top: 0;
  padding-top: 10px;
  color: rgb(8, 7, 7);
  font-weight: 900;
  font-size: 50px;
}

 /* Sidebar links */
 .sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0934f1;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.contact{
  padding: 5.7rem 1rem 0 1rem;
  margin-top: 15rem;
  }

  

  .details a{
      margin: 0;
      padding: 0 1rem 0 1rem;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-around; */
    margin: 30px 0px;
}

.projectCard {
  background-color: #fcfcfc;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0px 30px;
  margin: 10px 0px;
  /*width: 300px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.projectCard:hover {
  transform: scale(1.05);
}

.h2 {
  color: #0d0e0e;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.ul {
  list-style-type: none;
  padding: 0;
  font-weight: 30;
}

.li {
  margin-bottom: 10px;
}

.img{
  width : 1rem;
  height : 2%;
  /* border: 5px solid red; */
  margin-top: 1.1rem ;
  margin-left: 1rem;
  /* margin-bottom: -2rem; */
}

.icons{
  display: flex;
}

.footerLinksColor{
  color: blue;
}

.secondParagaragh{
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.skills{
  display: flex;
  justify-content: space-around;
}